@import "../config";

#item-div {
  .img-box {
    .lazy-box {
      position: relative;
      &.unloaded {
        overflow: hidden;
        // image min-height 200px
        height: 200px;
      }
      img {
        width: 100%;
        margin: 8px 0 0;
      }
    }
  }
  .line {
    .label {
      display: inline-block;
    }
  }
  .desc-box {
    margin: 0 0 12px;
    .title {
      margin: 0.5em 0 0.7em;
      font-size: 140%;
    }
    .line {
      margin-bottom: 6px;
    }
    .label {
      width: 42%;
    }
    .sales {
      color: @status-color;
    }
    .pure-u-1-2 {
      >.line {
        &:nth-child(2) {
          .price, .-price {
            text-decoration: line-through;
          }
        }
      }
    }
  }
  .purchase-form {
    position: fixed;
    bottom: 49px;
    left: 0;
    right: 0;
    padding: 14px 12px;
    border-top: 1px dashed @form-border-color;
    background-color: white;
    #num {
      width: 30%;
      text-align: center !important;
      padding: 7px 2px;
      display: inline-block;
      position: relative;
      z-index: 9;
      border-radius: 0 !important;
    }
    .label {
      width: 20%;
    }
    .delta-btn {
      position: relative;
      z-index: 8;
      /* according to #num */
      padding: 8px 12px;
    }
    .buttons {
      margin: 12px 0 0;
      button {
        width: 96%;
      }
    }
  }
  .detail-box {
    border-top: 1px dashed @form-border-color;
    margin: 14px 0 6px;
    padding-bottom: 120px;
    >div {
      margin: 14px 0 0;
      p {
        margin: 0 0 8px;
      }
      .lazy-box {
        &.unloaded {
          overflow-y: hidden;
          height: 100px;
        }
      }
    }
  }
}
