@import "../config";

#orders-div {
  ul {
    .order-li {
      margin: 6px 0 0;
      .order-box {
        background-color: @board-bgcolor;
        border: solid 3px @board-border-color;
        padding: 4px 1px;
        .col-box {
          padding: 2px;
          text-align: center;
          .img-box {
            padding: 3px;
          }
          &.desc-box {
            margin: 0 auto;
            > div {
              margin: 10px 0 0;
            }
            i {
              margin: 0 8px;
            }
          }
        }
        .order-desc {
          margin-top: 8px;
          padding: 0 4px;
          font-size: 105%;
          .info-box {
            margin: 0 0 6px;
            font-size: 80%;
          }
          .message-box {
            margin-bottom: 6px;
            .message {
              color: @message-color;
            }
          }
          .payway-box {
            color: @status-color;
          }
          .status-box {
            padding-top: 2px;
            font-size: 90%;
            width: 100%;
            color: @status-color;
            text-align: right;
          }
          .action-box {
            margin-top: 6px;
          }
        }
      }
    }
  }
}
