#nav
  .filter_nav.pure-g
    a.filter_btn.pure-u-1-4(href='items/?types=促销') 促销
    a.filter_btn.pure-u-1-4(href='items/?types=热卖') 热卖
    a.filter_btn.pure-u-1-4(onclick='toggleTags()') 分类
    a.filter_btn.pure-u-1-4(onclick='toggleBrands()') 品牌
