form.pure-form.purchase-form
  - var offsalebtn = 'images/off-sale-btn.png'
  - var soldoutbtn = 'images/sold-out-btn.png'
  - var cover
  if !item.onSale
    - cover = offsalebtn
  else if item.store <= 0
    - cover = soldoutbtn
  .pure-g.buttons
    if cover
      .pure-u-1
        img(src=cover)
    else
      .pure-u-1-2
        button.btn.secondary(onclick='addToCart();return false') 加入购物车
      .pure-u-1-2
        button.btn.primary.pull-right(onclick='gotoCart();return false') 立即购买
