ul.pure-g
  each order in orders
    li.pure-u-1.order-li
      .order-box(data-id=order.id)
        include orders-items-
        .pure-g.order-desc
          if order.message
            .pure-u-1
              .message-box
                span.trailing 备 注 :&nbsp;
                span.message= order.message
          .pure-u-1-2
            .cost-box
              span.trailing 实付款 :
              span.price ￥#{order.cost.toFixed(1)}
          .pure-u-1-2
            .status-box
              span.status= order._status
          case order.status
            when 'OFFLINE_TRADE_FINISHED'
            when 'OFFLINE_WAIT_SELLER_CONFIRM_MONEY'
            when 'OFFLINE_REFUND_FINISHED'
            when 'OFFLINE_WAIT_BUYER_RETURN_GOODS'
            when 'OFFLINE_WAIT_SELLER_CONFIRM_GOODS'
            when 'OFFLINE_CANCEL_ORDER_BEFORE_SEND'
            when 'OFFLINE_WAIT_SELLER_AGREE_AFTER_SENT'
              break
            default
              .pure-u-1
                .action-box.pull-right
                  case order.status
                    when 'OFFLINE_WAIT_SELLER_SEND_GOOD'
                      button(data-action="OFFLINE_CANCEL_ORDER_BEFORE_SEND") 退货
                    when 'OFFLINE_WAIT_BUYER_CONFIRM_GOODS_AND_PAY'
                      button(data-action="OFFLINE_WAIT_SELLER_CONFIRM_MONEY") 确认并付款
                      button(data-action="OFFLINE_WAIT_SELLER_CONFIRM_GOODS") 退货