ul.pure-g
  each order in orders
    li.pure-u-1.order-li
      .order-box
        include orders-items-
        .pure-g.order-desc
          .pure-u-1-2
            .cost-box
              span.trailing 实付款 :
              span.price ￥#{order.cost.toFixed(1)}
          .pure-u-1-2
            .status-box
              span.status= order.status
          if order.message
            .pure-u-1
              .message-box
                span.trailing 留　言 :&nbsp;
                span.message= order.message
