- var btns = []
case order.status
  when 'TRADE_FINISHED'
  when 'TRADE_CLOSED'
  when 'WAIT_SELLER_CONFIRM_GOODS'
  when 'WAIT_SELLER_AGREE'
  when 'WAIT_SELLER_AGREE_AFTER_SENT'
  when 'WAIT_SELLER_CONFIRM_GOODS'
  when 'REFUND_CLOSED'
  when 'REFUND_SUCCESS'
  when 'OFFLINE_TRADE_FINISHED'
  when 'OFFLINE_TRADE_CLOSED'
  when 'OFFLINE_WAIT_SELLER_CONFIRM_MONEY'
  when 'OFFLINE_CANCEL_ORDER_BEFORE_SEND'
  when 'OFFLINE_WAIT_BUYER_RETURN_GOODS'
  when 'OFFLINE_WAIT_SELLER_CONFIRM_GOODS'
  when 'OFFLINE_REFUND_FINISHED'
    break
  when 'SELLER_REFUSE_BUYER'
    - btns.push({ action: 'TRADE_FINISHED', text: '确认收货' })
  when 'WAIT_BUYER_CONFIRM_GOODS'
    - btns.push({ action: 'TRADE_FINISHED', text: '确认收货' })
    if order.returnable
      - btns.push({ action: 'WAIT_SELLER_AGREE_AFTER_SENT', text: '申请退货' })
  when 'WAIT_SELLER_SEND_GOODS'
    if order.returnable
      - btns.push({ action: 'WAIT_SELLER_AGREE', text: '申请退款' })
  when 'WAIT_BUYER_PAY'
    - btns.push({ action: 'wxpay', text: '微信支付' })
    if order.returnable
      - btns.push({ action: 'CANCEL_ORDER_BEFORE_PAY', text: '取消订单' })
  when 'WAIT_BUYER_RETURN_GOODS'
    - btns.push({ action: 'WAIT_SELLER_CONFIRM_GOODS', text: '已退货' })
  when 'OFFLINE_SELLER_REFUSE_BUYER'
    - btns.push({ action: 'TRADE_FINISHED', text: '确认收货' })
  when 'OFFLINE_WAIT_BUYER_CONFIRM_GOODS_AND_PAY'
    - btns.push({ action: 'OFFLINE_WAIT_SELLER_CONFIRM_MONEY', text: '确认收货' })
    if order.returnable
      - btns.push({ action: 'OFFLINE_WAIT_SELLER_CONFIRM_GOODS', text: '申请退货' })
  when 'OFFLINE_WAIT_SELLER_SEND_GOODS'
    if order.returnable
      - btns.push({ action: 'OFFLINE_CANCEL_ORDER_BEFORE_SEND', text: '取消订单' })
  when 'OFFLINE_WAIT_BUYER_RETURN_GOODS'
    - btns.push({ action: 'OFFLINE_WAIT_SELLER_CONFIRM_GOODS', text: '已退货' })

if btns.length
  .pure-u-1
    .action-box.pull-right
      each btn in btns
        button(data-action="#{btn.action}") #{btn.text}
