case order.status
  when 'TRADE_FINISHED'
  when 'WAIT_SELLER_CONFIRM_GOODS'
  when 'WAIT_SELLER_AGREE'
  when 'WAIT_SELLER_AGREE_AFTER_SENT'
  when 'WAIT_SELLER_CONFIRM_GOODS'
  when 'REFUND_CLOSED'
  when 'REFUND_SUCCESS'
  when 'OFFLINE_TRADE_FINISHED'
  when 'OFFLINE_WAIT_SELLER_CONFIRM_MONEY'
  when 'OFFLINE_CANCEL_ORDER_BEFORE_SEND'
  when 'OFFLINE_WAIT_BUYER_RETURN_GOODS'
  when 'OFFLINE_WAIT_SELLER_CONFIRM_GOODS'
  when 'OFFLINE_REFUND_FINISHED'
    break
  default
    .pure-u-1
      .action-box.pull-right
        case order.status
          when 'WAIT_BUYER_CONFIRM_GOODS'
            button(data-action="TRADE_FINISHED") 确认收货
            button(data-action="WAIT_SELLER_AGREE_AFTER_SENT") 申请退货
          when 'WAIT_SELLER_SEND_GOODS'
            button(data-action="WAIT_SELLER_AGREE") 申请退货
          when 'WAIT_BUYER_PAY'
            button(data-action="alipay") 微信支付
            button(data-action="CANCEL_ORDER_BEFORE_PAY") 取消订单
          when 'WAIT_BUYER_RETURN_GOODS'
            button(data-action="WAIT_SELLER_CONFIRM_GOODS") 已退货
          when 'OFFLINE_WAIT_BUYER_CONFIRM_GOODS_AND_PAY'
            button(data-action="OFFLINE_WAIT_SELLER_CONFIRM_MONEY") 确认收货
            button(data-action="OFFLINE_WAIT_SELLER_CONFIRM_GOODS") 申请退货
          when 'OFFLINE_WAIT_SELLER_SEND_GOODS'
            button(data-action="OFFLINE_CANCEL_ORDER_BEFORE_SEND") 取消订单
          when 'OFFLINE_WAIT_BUYER_RETURN_GOODS'
            button(data-action="OFFLINE_WAIT_SELLER_CONFIRM_GOODS") 已退货